$background: #282c34;
$mainText: white;
$hover: rgb(104, 91, 73);
$clicked: greenyellow;
$menuColor: #435d75;
$jasonji: $mainText;

$background: rgb(235, 238, 232);
$mainText: rgb(32, 52, 78);
$clicked: rgb(164, 146, 10);
$hover: $clicked;
$menuColor: $mainText;
$jasonji: rgb(102, 143, 139);
$imgBorder: rgb(179, 189, 169);
