@use "colors.module.scss" as colors;

.container {
  padding: 1.5vw;
}
.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw 0.5rem 10vw;
  border-bottom: colors.$mainText 0.5px solid;
}
#logo {
  font-size: 2.5rem;
  letter-spacing: 4px;
  font-variation-settings: "wght" 120;
  animation: breathe 6000ms infinite forwards;
  margin-right: 3rem;
  color: colors.$jasonji;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    color: colors.$menuColor;
    margin: 0 1rem;
    font-weight: 550;
    font-size: 1.2rem;
  }

  a:hover {
    color: colors.$hover;
  }
  a:hover.clicked {
    color: colors.$clicked;
    font-size: 1.4rem;
  }
  a:active,
  .clicked {
    color: colors.$clicked;
    font-size: 1.4rem;
  }
}

.content {
  margin-top: 0.5rem;
  padding: 0 10vw;
  min-height: 60vh;
}
.mainFooter {
  display: flex;
  justify-content: center;
  // font-variation-settings: "wght" 220;
  // animation: breathe 6000ms infinite forwards;
  span {
    display: inline-block;
    margin: 0 0.2rem;
  }
  .sign {
    // font-weight: 700;
    // color: colors.$jasonji;
    letter-spacing: 0.1rem;
  }
}

@keyframes breathe {
  60% {
    font-variation-settings: "wght" 400;
  }

  100% {
    font-variation-settings: "wght" 220;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 8px;
  }
  .mainHeader {
    display: block;
    flex-wrap: wrap;
    padding: 0 1rem 0.5rem 1rem;
  }
  .menu {
    margin-top: 8px;
    justify-content: space-between;
  }
  a {
    margin: 0 1rem;
  }
  .content {
    padding: 0 1rem;
  }

  a:hover,
  a:active {
    color: inherit;
    font-size: inherit;
  }
}
